.item1, .item2, .item3, .notificationdiv {
	display: block;
	left: 40%;
	position: fixed;
	top: 0px;
    background-color: #0096D6;
    opacity:0;
    width:180px;
    height:60px;
    text-align:center;
}

p{
	color: #ffffff;
	font-size: 24px;
}